<nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
      
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a href="index.html"><img src="assets/img/oj.png" width="120px"></a>
              </div>
      
         
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
              <li><a routerLink="/home">Home</a></li>
              <li><a routerLink="/about">About Us</a></li>
              <li><a routerLink="/career">Careers</a></li>
              <li><a routerLink="/client">Clients</a></li>
              <li class="nav-item active"><a routerLink="/team">Team</a></li>
              <li><a routerLink="/contact">Contact Us</a></li>
              <li class="btn-trial"><a href="#" data-target="#login" data-toggle="modal">Sign in</a></li>
            </ul>
          </div>
        </div>
      </nav>
      <!--/ Navigation bar-->
      <!--Modal box-->
     
      <!--/ Modal box-->
      <!--Banner-->
      <section class="banner_area">
          <div class="bg-color">
        <div class="container">
          <div class="banner-text text-center">
            <div class="text-border">
              <h2 class="text-dec">Leading Team</h2>
            </div>
           
          </div>
        </div>
        </div>
    </section>
      <!--/ Banner-->
   
     
      <!--Faculity member-->
      <section id="faculity-member" class="section-padding">
        <div class="container">
          <div class="row">
            <div class="header-section text-center">
              <h2 style="color: #1d62a7;"><b>Executive Leadership Team</b></h2>
              <hr class="bottom-line">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="pm-staff-profile-container">
                <div class="pm-staff-profile-image-wrapper text-center">
                  <div class="pm-staff-profile-image">
                    <img src="assets/img/rm.jpg" alt="" class="img-thumbnail img-circle" />
                  </div>
                </div>
                <div class="pm-staff-profile-details text-center">
                  <p class="pm-staff-profile-name">Rama Murthy Jaligama</p>
                  <p class="pm-staff-profile-title">MD</p>
      
                  
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="pm-staff-profile-container">
                <div class="pm-staff-profile-image-wrapper text-center">
                  <div class="pm-staff-profile-image">
                    <img src="assets/img/pj.png" alt="" class="img-thumbnail img-circle" />
                  </div>
                </div>
                <div class="pm-staff-profile-details text-center">
                  <p class="pm-staff-profile-name">Phaniraj Jaligama</p>
                  <p class="pm-staff-profile-title">CEO</p>

                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="pm-staff-profile-container">
                <div class="pm-staff-profile-image-wrapper text-center">
                  <div class="pm-staff-profile-image">
                    <img src="assets/img/aa.png" alt="" class="img-thumbnail img-circle" />
                  </div>
                </div>
                <div class="pm-staff-profile-details text-center">
                  <p class="pm-staff-profile-name">Arun Kumar Alampally</p>
                  <p class="pm-staff-profile-title">Head - IdM CoE</p>
      
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--/ Faculity member-->
      
      <!--Footer-->
      <footer id="footer" class="footer">
          <div class="container text-center">
      
         
        <div class="row">
          <div class="col-md-3">
            <h4 style="color: #EFAF4E;">Los Angeles, USA</h4>
            <p>Ojas Innovative Technologies Inc</p>
            
    <p>28422 Constellation Road,<br>
     
    Suite # 211, Valencia, CA 91355-3027<br>
    <i class="fa fa-phone"></i> +1 (310) 227 5909 (Direct)<br>
    <i class="fa fa-envelope"></i> <a href="sales@ojas-it.com" style="color: #EFAF4E; text-decoration: none;padding: 1em">sales@ojas-it.com</a></p>
           </div>
         
         
    <div class="col-md-3">
           <h4 style="color: #EFAF4E;">Hyderabad, INDIA</h4>
           <p>Ojas Innovative Technologies Pvt Ltd</p>
                <p> Block C, Floor 9, MJR Magnifique,
               Raidurgam<br>
                Hyderabad - 500008, Telangana<br>
               <i class="fa fa-phone"></i> +91 40 41430000<br>
               <i class="fa fa-envelope"></i> <a href="mailto:sales@ojas-it.com" style="color: #EFAF4E; text-decoration: none;padding: 1em">sales@ojas-it.com</a></p>
           </div>
    <div class="col-md-3">
           <h4 style="color: #EFAF4E;">London,UK</h4>
           <p>Ojas Innovative Technologies Ltd</p>
                <p> Coming Soon</p>
                <p><i class="fa fa-envelope"></i> <a href="mailto:sales@ojas-it.com" style="color: #EFAF4E; text-decoration: none;padding: 1em">sales@ojas-it.com</a></p>
           </div>
           <div class="col-md-3">
           <h4 style="color: #EFAF4E;">Dubai, UAE</h4>
           <p>Ojas Innovative Technologies FZ-LLC</p>
                <p> Dubai Internet City,
               DIC Buildinq 1, <br> Ground Floor, DIC POI-BO1-G-EX14<br>
                Dubai, UAE<br>
                <i class="fa fa-envelope"></i> <a href="mailto:sales@ojas-it.com" style="color: #EFAF4E; text-decoration: none;padding: 1em">sales@ojas-it.com</a>
           </div>
        </div>
  
          
            <!-- End newsletter-form -->
            <ul class="social-links">
              <li><a href="#link"><i class="fa fa-twitter fa-fw"></i></a></li>
              <li><a href="#link"><i class="fa fa-facebook fa-fw"></i></a></li>
              <li><a href="#link"><i class="fa fa-google-plus fa-fw"></i></a></li>
              <li><a href="#link"><i class="fa fa-dribbble fa-fw"></i></a></li>
              <li><a href="#link"><i class="fa fa-linkedin fa-fw"></i></a></li>
            </ul>
            ©2019 Ojas Innovative Technologies pvt ltd. All rights reserved
          </div>
        </footer>
      <!--/ Footer-->
      
      